*{
margin: 0;
padding: 0;
block-size: border-box;

}



.block{
    border: 3px solid #000;
    width: 486;
margin: 20px;
padding: 186px 50px;
font-family: system-ui;

}



.title{
font-size: 36px;
color #3333;
margin-bottom: 25px;
}




.text{
font-style: 14px;
color: #333;
margin-bottom: 30px;


}


.btn{
background-color: #d3b288;
color: #fff;
font-size: 16px;
padding: 10px 20px;
bottom: none;
border-radius: 5px;
font-weight: 500;
text-transform: uppercase;

}